# dependencies
node_modules/
frontend/node_modules/

# Next.js build output
.next/
frontend/.next/

# production
out/

# env files
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
